@model ProyectoEsteSi.Models.Informacion_paciente

@{
    ViewData["Title"] = "Create";
}

<br />
<h1 style="text-align:center">Ingresar nuevo registro:</h1>
<hr />

<div class="row" style="justify-content:center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <b>Número de identidad:</b>
                <input placeholder="Ingrese identidad sin guiones" asp-for="Numero_identidad" class="form-control" />
                <span asp-validation-for="Numero_identidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>Nombre completo:</b>
                <input asp-for="Nombre_nino" class="form-control" />
                <span asp-validation-for="Nombre_nino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>Nombre persona responsable:</b>
                <input asp-for="Nombre_responsabe" class="form-control" />
                <span asp-validation-for="Nombre_responsabe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>Fecha de nacimiento:</b>
                <input asp-for="Fecha_nacimineto" class="form-control" />
                <span asp-validation-for="Fecha_nacimineto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>Edad de captación:</b>
                <input asp-for="Edad_cap" class="form-control" />
                <span asp-validation-for="Edad_cap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>Numero de contacto:</b>
                <input placeholder="Contacto sin guiones" asp-for="Contacto" class="form-control" />
                <span asp-validation-for="Contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>Detalle de la dirección:</b>
                <select asp-for="Id_direccion" class="form-control" asp-items="ViewBag.Id_direccion"></select>
            </div>
            <div class="form-group">
                <button class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                <a asp-action="Index" class="btn btn-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
