@model ProyectoEsteSi.Models.Vacuna

@{
    ViewData["Title"] = "Delete";
}

<br />
<h1 style="text-align:center">Eliminar contacto:</h1>
<br />

<h3 class="text-danger" style="text-align:center">¿Esta seguro(a) de querer eliminar este registro?</h3>
<div>
    <hr />
    <div style="display:flex; justify-content:center">
        <div class="form-group">
            <b>Nombre de la vacuna:</b>
            <span class="text">@Html.DisplayFor(model => model.Nombre_vacuna)</span>
            <br /><br />
            <b>Abreviatura:</b>
            <span class="text">@Html.DisplayFor(model => model.Abreviatura_vacuna)</span>
            <br /><br />
            <b>Cantidad de dosis aplicables:</b>
            <span class="text">@Html.DisplayFor(model => model.Dosis_aplicables)</span>
            <br /><br />
            <b>Edad para su aplicación:</b>
            <span class="text">@Html.DisplayFor(model => model.Edad_aplicable)</span>
            <br /><br />
        </div>
    </div>

    <form style="display:flex; justify-content:center" asp-action="Delete">
        <input type="hidden" asp-for="Id_vacuna" />
        <button class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button>|
        <a asp-action="Index" class="btn btn-warning"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
    </form>
</div>
