@model ProyectoEsteSi.Models.Vacuna

@{
    ViewData["Title"] = "Edit";
}

<br />
<h1 style="text-align:center">Editar información de vacuna:</h1>

<hr />
<div class="row" style="justify-content:center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_vacuna" />

            <div class="form-group">
                <b>Nombre de la vacuna:</b>
                <input asp-for="Nombre_vacuna" class="form-control" />
                <span asp-validation-for="Nombre_vacuna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>Abreviatura:</b>
                <input asp-for="Abreviatura_vacuna" class="form-control" />
                <span asp-validation-for="Abreviatura_vacuna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>Cantidad de dosis aplicables:</b>
                <input asp-for="Dosis_aplicables" class="form-control" />
                <span asp-validation-for="Dosis_aplicables" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>Edad para su aplicación:</b>
                <input asp-for="Edad_aplicable" class="form-control" />
                <span asp-validation-for="Edad_aplicable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
                <a asp-action="Index" class="btn btn-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
