@model ProyectoEsteSi.Models.Cita

@{
    ViewData["Title"] = "Details";
}

<br />
<h1 style="text-align:center">Detalles de cita</h1>

<div>
    <hr />

    <div style="display:flex; justify-content:center">
        <div class="form-group">
            <b>Fecha aplicación de la vacuna:</b>
            <span class="text">@Html.DisplayFor(model => model.Fecha)</span>
            <br /><br />
            <b>Fecha próxima aplicación de la vacuna:</b>
            <span class="text">@Html.DisplayFor(model => model.Fecha_proxima)</span>
            <br /><br />
            <b>Código de la dosis apliacada:</b>
            <span class="text">@Html.DisplayFor(model => model.Dosis.IdDosis)</span>
            <br /><br />
        </div>
    </div>

</div>
<div style="display:flex; justify-content:center">
    <a asp-action="Edit" asp-route-id="@Model.IdCita" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a> |
    <a asp-action="Index" class="btn btn-danger"> <i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
</div>
