@model Vacunas_sis.Models.Direccion

@{
    ViewData["Title"] = "Edit";
}

<h1 style="text-align:center">Editar información de dirección:</h1>

<hr />
<div class="row" style="justify-content:center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_direccion" />
            <div class="form-group">
                <label asp-for="Cuidad" class="control-label"></label>
                <input asp-for="Cuidad" class="form-control" />
                <span asp-validation-for="Cuidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barrio" class="control-label"></label>
                <input asp-for="Barrio" class="form-control" />
                <span asp-validation-for="Barrio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalle_direccion" class="control-label"></label>
                <input asp-for="Detalle_direccion" class="form-control" />
                <span asp-validation-for="Detalle_direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
                <a asp-action="Index" class="btn btn-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
