@model ProyectoEsteSi.Models.Direccion

@{
    ViewData["Title"] = "Details";
}

<br />
<h1 style="text-align:center">Detalles:</h1>

<div>
    <hr />
    <div style="display:flex; justify-content:center">
        <div class="form-group">
            <b>Nombre de la cuidad en la que recide:</b>
            <span class="text">@Html.DisplayFor(model => model.Cuidad)</span>
            <br /><br />
            <b>Detalle de dirección del paciente:</b>
            <span class="text">@Html.DisplayFor(model => model.Detalle_direccion)</span>
            <br /><br />
        </div>
    </div>
</div>
<div style="display:flex; justify-content:center">
    <a asp-action="Edit" asp-route-id="@Model.Id_direccion" class="btn btn-success"> <i class="fa fa-pencil" aria-hidden="true"></i> Editar</a> |
    <a asp-action="Index" class="btn btn-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
</div>
