@model ProyectoEsteSi.Models.Dosi

@{
    ViewData["Title"] = "Delete";
}

<br />
<h1 style="text-align:center">Eliminar Información del paciente:</h1>

<h3 class="text-danger" style="text-align:center">¿Esta seguro(a) de querer eliminar este registro?</h3>

<div>
    <hr />
    <div style="display:flex; justify-content:center">
        <div class="form-group">
            <b>Nombre completo del paciente:</b>
            <span class="text">@Html.DisplayFor(model => model.Pacientes.Nombre_nino)</span>
            <br /><br />
            <b>Número de identidad del paciente:</b>
            <span class="text">@Html.DisplayFor(model => model.Pacientes.Numero_identidad)</span>
            <br /><br />
            <b>Nombre de la vacuna aplicada:</b>
            <span class="text">@Html.DisplayFor(model => model.Vacunas.Nombre_vacuna)</span>
            <br /><br />
            <b>Número de dosis restantes:</b>
            <span class="text">@Html.DisplayFor(model => model.restante)</span>
            <br /><br />
        </div>
    </div>

    <form asp-action="Delete" style="display:flex; justify-content:center">
        <input type="hidden" asp-for="IdDosis" />
        <button class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button>| |
        <a asp-action="Index" class="btn btn-warning"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
    </form>
</div>
