.container{
    color:white;

}

.nav-link{
    color:#fff;
}

.navbar {
    padding: 0.9375rem;
    width: 100%;
    z-index: 1050;
    background: #1d8cf8;
}

.navbar {
    position: relative;
    color: inherit;
    line-height: 20px;
    display: inline-flex;
}

body {
    background-color: #171941;
}
/*

*/

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-expand-sm .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
    /**/

* {
    margin: 0;
    padding: 0;
}

header {
    font-family: Helvetica;
    width: 480px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

#menu li > a {
    background-color: grey;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
}

    #menu li > a:hover {
        color: black;
        background-color: #eaeaea;
    }

#menu > li {
    float: left;
    text-align: center
}

