@model Vacunas_sis.Models.Detalle_Vacuna

@{
    ViewData["Title"] = "Edit";
}

<br />
<h1 style="text-align:center">Editar información del registro:</h1>

<hr />
<div class="row" style="justify-content:center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_detalle_vacuna" />
            <div class="form-group">
                <label asp-for="Fecha_aplicacion" class="control-label"></label>
                <input asp-for="Fecha_aplicacion" class="form-control" />
                <span asp-validation-for="Fecha_aplicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero_dosis_aplicada" class="control-label"></label>
                <input asp-for="Numero_dosis_aplicada" class="form-control" />
                <span asp-validation-for="Numero_dosis_aplicada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero_dosis_restantes" class="control-label"></label>
                <input asp-for="Numero_dosis_restantes" class="form-control" />
                <span asp-validation-for="Numero_dosis_restantes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_proxima_dosis" class="control-label"></label>
                <input asp-for="Fecha_proxima_dosis" class="form-control" />
                <span asp-validation-for="Fecha_proxima_dosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_vacuna" class="control-label"></label>
                <select asp-for="Id_vacuna" class="form-control" asp-items="ViewBag.Id_vacuna"></select>
                <span asp-validation-for="Id_vacuna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
                <a asp-action="Index" class="btn btn-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
