@{
    ViewData["Title"] = "Reportes";
}

<br />
<h1 style="text-align:center">@ViewData["Title"]</h1>
<br />

<div class="ml-5" style="display:flex; justify-content :center">
    <a asp-controller="CrearPDF" asp-action="CitasPDF" class="btn btn-info mr-2">Listado de vacunación</a>
    <a asp-controller="CrearPDF" asp-action="PacientePDF" class="btn btn-info mr-2">Listado de vacunación</a>
    <a asp-controller="CrearPDF" asp-action="VacunasPDF" class="btn btn-info mr-2">Listado de vacunación</a>
</div>